.error,
.success {
    width: 100%;
    margin: 0 auto;
    padding: .5rem;
    color: white;
    text-align: center;
    font: 1.25em;
}

.success {background-color: $success-bg-color;}

.error {background-color: $error-bg-color;}

.msg {
    display: block;
    margin: .5em 0;
}